<footer class="pie-pagina">
    <div class="contenedor cuadricula-pie">
        <div class="info-marca">
            <div class="logotipo logotipo-pie">
                <div class="icono-logotipo"><i class="fa-solid fa-link"></i></div>
                <span class="texto-logotipo">ConectaPro</span>
            </div>
            <p>La red de profesionales confiables al alcance de tu mano. Transparencia, calidad y agilidad.</p>
            <div class="redes-sociales">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="enlaces-pie">
            <h4>Clientes</h4>
            <ul>
                <li><a href="buscar.html">Buscar Especialistas</a></li>
                <li><a href="como-funciona.html">Cómo funciona</a></li>
                <li><a href="soporte.html">Soporte</a></li>
            </ul>
        </div>
        <div class="enlaces-pie">
            <h4>Profesionales</h4>
            <ul>
                <li><a href="unete.html">Únete a la red</a></li>
                <li><a href="historias.html">Historias de Éxito</a></li>
                <li><a href="recursos.html">Recursos</a></li>
            </ul>
        </div>
    </div>
    <div class="pie-derechos">
        <p>&copy; 2026 ConectaPro. Todos los derechos reservados.</p>
    </div>
</footer>
