<header class="navegador">
    <div class="contenedor contenedor-navegador">
        <a href="index.html" class="logotipo">
            <div class="icono-logotipo">
                <i class="fa-solid fa-link"></i>
            </div>
            <span class="texto-logotipo">ConectaPro</span>
        </a>
        <button class="menu-hamburguesa" id="btn-menu-movil" style="display: none; background: none; border: none; font-size: 24px; color: var(--color-secundario); cursor: pointer;">
            <i class="fa-solid fa-bars"></i>
        </button>

        <nav class="acciones-navegacion" id="menu-navegacion">
            <a href="buscar.html" class="boton boton-esquema">Explorar Especialistas</a>
            <a href="#" class="enlace-inicio-sesion" id="btn-login-header">Iniciar Sesión</a>
            <a href="unete.html" class="boton boton-primario" id="btn-registro-header">Regístrate <i class="fa-solid fa-user-plus"></i></a>
        </nav>
    </div>
</header>
